[Desktop Entry]
Name=/etc/profiles/per-user/mcrowe/bin/ulauncher
Exec=/home/mcrowe/.nix-profile/bin/ulauncher
Terminal=false
Type=Application
Comment=ULauncher startup
Categories=Office;
